@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');

@import "@fortawesome/fontawesome-free/css/all.min.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Rubik", sans-serif;
    src: local("Rubik Regular"), local("Rubik-Regular"),
        url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap")
            format("woff2");
    font-style: normal;
}

/* .manrope {
    font-family: "Manrope", sans-serif;
    font-weight: 400;
}

.manrope-300 {
    font-family: "Manrope", sans-serif;
    font-weight: 300;
}

.manrope-500 {
    font-family: "Manrope", sans-serif;
    font-weight: 500;
}

.manrope-600 {
    font-family: "Manrope", sans-serif;
    font-weight: 600;
}
.manrope-700 {
    font-family: "Manrope", sans-serif;
    font-weight: 700;
}

.manrope-800 {
    font-family: "Manrope", sans-serif;
    font-weight: 800;
} */

.rubik {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
}

.rubik-300 {
    font-family: "Rubik", sans-serif;
    font-weight: 300;
}

.rubik-500 {
    font-family: "Rubik", sans-serif;
    font-weight: 500;
}

.rubik-600 {
    font-family: "Rubik", sans-serif;
    font-weight: 600;
}
.rubik-700 {
    font-family: "Rubik", sans-serif;
    font-weight: 700;
}

.rubik-800 {
    font-family: "Rubik", sans-serif;
    font-weight: 800;
}

/* scroll class */

/* width */
.scroll::-webkit-scrollbar {
    width: 4px;
    height: 2px;
}

/* Track */
.scroll::-webkit-scrollbar-track {
    border-radius: 20px;
    background: #eeeeee;
    margin: 1.5px !important;
}

/* Handle */
.scroll::-webkit-scrollbar-thumb {
    background: #d3d3d3;
    border-radius: 20px;
}

/* Handle on hover */
.scroll::-webkit-scrollbar-thumb:hover {
    background: #d4d4d4;
}

html {
    @apply rubik;
}

/* COMPONENTS  can be overriden by inline classes */

@layer components {
    /* table */
    .table {
        @apply min-w-full mb-3 text-gray-place overflow-hidden border border-separate rounded-lg table-fixed  border-spacing-0 border-[#E5E7EB];
    }

    .th {
        @apply text-[11px] lg:text-[12px] xl:text-[13px]   tracking-wide capitalize rubik-500 text-left text-gray-place  py-[8px] md:py-[10px] lg:py-[12px] px-[16px]  lg:px-[19px];
    }

    .td {
        @apply text-[13.2px] lg:text-[14px] border-t   py-[7px] md:py-[9px] lg:py-[11px] px-[16px]  lg:px-[19px];
    }

    tr:nth-child(even) {@apply bg-[#F8F9FA]}

    .table-wrapper {
        @apply scroll;
        overflow-x: auto;
        overflow-y: hidden;
        padding: 1px;
    }
    .v-wrapper {
        @apply scroll;
        overflow-y: auto;
        overflow-x: hidden;       
    }

    /* file */
    .form-file {
        @apply block w-full label button-strip  rubik file:mr-3 file:bg-white file:text-[16px] file:appearance-none file:rounded-[8px] file:text-primary-blue file:border-2 file:border-gray-105;
    }

    /* inputs */
    .form-input {
        @apply rounded-xl  read-only:bg-[#FAFAFA] read-only:focus:border-[#D1D5DB] placeholder:capitalize disabled:placeholder:text-gray-105 border-[1px]  disabled:focus:ring-0 border-gray-105  placeholder:font-[400] placeholder:text-[14px]  sm:placeholder:text-[14px] rubik  text-[15px] sm:text-[14px] placeholder:text-[#808B9A] text-gray-input  h-[42px]  focus:border-primary-blue w-full focus:ring-0;
    }

    .form-input-error {
        @apply rounded-[6px] text-[16px] text-gray-input border-red-error h-[45px] border px-2 focus:border-primary-blue w-full focus:outline-none focus:ring-0;
    }

    /* password */
    .form-password {
        @apply rounded-[6px] font-[sans-serif] tracking-[0.111em] text-[18px] text-base text-gray-input border-gray-105 h-[45px] border focus:border-primary-blue w-full focus:ring-0;
    }

    .form-password-error {
        @apply rounded-[6px] font-[sans-serif] tracking-[0.111em] text-[18px] text-base text-red-[#7F1D1D] border-red-error h-[45px] border focus:border-primary-blue w-full focus:ring-0;
    }

    /* dropdown */
    .form-select {
        @apply rounded-xl disabled:bg-[#FAFAFA] disabled:focus:border-[#D1D5DB]  placeholder:capitalize disabled:placeholder:text-gray-105 disabled:text-gray-107 border-[1px]  disabled:focus:ring-0 border-gray-105  placeholder:font-[400] placeholder:text-[14px] rubik text-gray-input text-[14px] placeholder:text-[#808B9A]  h-[42px]  focus:border-primary-blue w-full focus:ring-0;
    }

    select:has(option[value=""]:checked) {
        color: #808B9A;
    }

    input[type="date"]:invalid {
        color: #808B9A;
    }
    input[type="date"]:disabled,
input[type="date"][readonly] {
    color: #808B9A !important; /* keep same muted color */
}

    /* textarea */
    .form-textarea {
        @apply rounded-[8px] read-only:bg-[#FAFAFA] read-only:focus:border-[#D1D5DB] resize-y  placeholder:capitalize  placeholder:text-[#808B9A] placeholder:font-[400] placeholder:text-[14px] text-[#808B9A] text-[16px] text-gray-input border-gray-105  border focus:border-primary-blue w-full focus:ring-0;
    }

    /* radio */
    .form-radio {
        @apply w-[19px] m-1 h-[19px] border focus:ring-offset-0 focus:border-blue-focus focus:ring-0 border-gray-105 text-primary-blue;
    }

    /* checkbox */
    .form-checkbox {
        @apply w-[18px] m-1 h-[18px] rounded-[4px] border focus:ring-offset-0 focus:border-blue-focus focus:ring-0 border-gray-105 text-primary-blue;
    }

    /* blue buttons */
    .button-primary {
        @apply hover:bg-blue-hover text-[14px] md:text-[15px] lg:text-[16px] disabled:bg-blue-disabled  active:bg-blue-focus h-[50px] bg-primary-blue rubik-700  capitalize tracking-wider  text-white w-[261px] rounded-[6px] focus:outline-none focus:ring-0;
    }

    .button-primary-small {
        @apply button-primary rounded-[8px] sm:whitespace-nowrap leading-tight px-1 h-[36px] w-full  max-w-[123px]  lg:w-[123px] text-[13px] lg:text-[14px];
    }

    .button-secondary {
        @apply border-primary-blue disabled:text-blue-disabled disabled:border-blue-disabled disabled:hover:bg-white border hover:bg-blue-hover active:bg-blue-focus h-[50px]  rubik-700  capitalize tracking-wider text-[14px] md:text-[15px] lg:text-[16px] text-primary-blue hover:text-white w-[261px] rounded-[6px] focus:outline-none focus:ring-0;
    }

    .button-secondary-small {
        @apply button-secondary rounded-[8px] h-[36px] w-[123px] text-[13px] lg:text-[14px];
    }

    /* red buttons */

    .button-primary-red {
        @apply hover:bg-state-red text-[14px] md:text-[15px] lg:text-[16px] disabled:bg-blue-disabled  active:bg-state-red h-[50px] bg-state-red rubik-700  capitalize tracking-wider  text-white w-[261px] rounded-[6px] focus:outline-none focus:ring-0;
    }

    .button-primary-red-small {
        @apply hover:bg-state-red text-[14px] md:text-[15px] lg:text-[16px] disabled:bg-blue-disabled  active:bg-state-red h-[36px] bg-state-red rubik-700  capitalize tracking-wider  text-white w-[123px] rounded-[8px] focus:outline-none focus:ring-0;
    }

    .button-secondary-red {
        @apply border-state-red disabled:text-blue-disabled disabled:border-blue-disabled disabled:hover:bg-white border hover:bg-state-red active:bg-state-red h-[50px]  rubik-700  capitalize tracking-wider text-[14px] md:text-[15px] lg:text-[16px] text-state-red hover:text-white w-[261px] rounded-[6px] focus:outline-none focus:ring-0;
    }

    .button-strip {
        @apply focus:border-none focus:outline-none focus:ring-0 focus:ring-offset-0;
    }

    /* text buttons */

    .text-button-underline {
        @apply text-primary-blue capitalize tracking-wide  text-[14px] md:text-[15px] lg:text-[16px] disabled:text-blue-disabled rubik-500  active:text-blue-focus underline-offset-[1.5px]  block underline     hover:text-blue-focus   focus:border-none focus:ring-0 focus:outline-none;
        text-decoration-thickness: 0.9px;
    }

    .text-button {
        @apply text-primary-blue  text-[14px] tracking-wide md:text-[15px] lg:text-[16px] disabled:text-blue-disabled active:text-blue-focus capitalize rubik-700   block      hover:text-blue-hover   focus:border-none focus:ring-0 focus:outline-none;
        text-decoration-thickness: 0.9px;
    }

    /* text button green */
    .text-button-green {
        @apply text-state-green/90  text-[14px] tracking-wide md:text-[15px] lg:text-[16px] disabled:text-blue-disabled active:text-state-green/100   capitalize rubik-700   block      hover:text-state-green/70     focus:border-none focus:ring-0 focus:outline-none;
        text-decoration-thickness: 0.9px;
    }

    /* input label */
    /* text-[#828282] */
    .label {
        @apply inline-block rubik-500 tracking-wide  text-gray-700 text-[13px] lg:text-[14px] first-letter:capitalize mb-2;
    }
    .label-blue {
        @apply inline-block rubik-500 tracking-wide  text-blue-label text-[13px] lg:text-[14.3px] capitalize;
    }

    /* auth headers */

    .auth-header {
        @apply rubik-700 capitalize text-[26px] md:text-[30px] lg:text-[32px] text-[#050505] lg:text-[#3E3E3E];
    }

    .auth-sub {
        @apply rubik text-[#232323B2]/70 text-[15px] lg:text-[16px];
    }

    /* validation message */

    .error-message {
        @apply text-[#EF4444] rubik text-[13px] lg:text-[14.3px] tracking-wide;
    }

    .success-message {
        @apply text-state-green rubik text-[13px] lg:text-[14.3px] tracking-wide;
    }

    /* filter */

    .filter-sub-heading {
        @apply text-[#595959] text-[15px] lg:text-[16px] rubik-600 capitalize;
    }

    .filter-label {
        @apply rubik text-[15px] text-[#595959];
    }

    /* header */

    .header-title {
        @apply rubik-700   text-[#060D01] text-[22px] md:text-[24px] xl:text-[32px];
    }

    .header-camp-sub {
        @apply rubik-500  text-[8px] sm:text-[10px]  xl:text-[12px]  text-[#595959] uppercase;
    }

    /* profile */

    .top-nav-menu-item {
        @apply block w-full px-4 py-2 text-sm leading-5 text-left text-gray-700 transition duration-150 ease-in-out hover:bg-gray-100 focus:outline-none focus:bg-gray-100;
    }
}

.nav-lay {
    @apply xl:ml-[240px] lg:ml-[225px];
}

.nav-left {
    @apply left-0 xl:left-[240px] lg:left-[225px];
}

.x-lay {
    @apply px-[10px] sm:px-[18px] md:px-[26px];
}

.side_menu_bg {
            background-color: #051A31;
        }

.select2-selection-custom {
    @apply text-gray-input text-sm min-h-[40px] flex items-center relative pl-3 pr-8 border border-gray-300 rounded-xl pt-1;
}

/* remove default arrow */
.select2-selection-custom .select2-selection__arrow {
    @apply hidden rounded-xl;
}

/* custom arrow */
.select2-selection-custom::after {
    /* content: "⌄";  */
    content: "\f078";
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; /* For solid icons */
    position: absolute;
    right: 15px; /* Adjust positioning as needed */
    top: 50%;
    transform: translateY(-50%);
    color: #555; /* Icon color */
    @apply absolute right-3 text-gray-500 text-xs pointer-events-none;
    top: 50%;
    transform: translateY(-50%);
}

  
.select2-container .select2-selection {
    border-radius: 10px !important;
    min-height: 41px !important;
    border-color:rgb(209 213 219 / var(--tw-border-opacity, 1)) !important;
    
  }
  
  /* For multi-select tags */
  .select2-container .select2-selection__choice {
    /* border-radius: 0.75rem !important;
    height: 41px;
    border-color:rgb(209 213 219 / var(--tw-border-opacity, 1)); */
  }
  
  .tooltip {
    position: relative;
    display: inline-block;
    /* border-bottom: 1px dotted black; */
    cursor: pointer;
    float: right;
  }
  
  .tooltiptext {
    visibility: hidden;
    width: 130px;
    background-color: #F2F2F2;
    color: #808B9A;
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    right: 0%;
    margin-left: -65px;
    font-size: 14px;
    width: 349px;
    height: 80px;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

